<ion-view title="Report">
      <ion-content class="ion-content">
    
          <h2 class="title">{{spotName}}</h2>
     
      <div class="list list-inset">
        <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-ios-analytics-outline placeholder-icon"></i>
            <input class="login-input-item" type="text" placeholder="Wave height (cm)" ng-model="report.waveHeight">
          </label>
          <br>
          <label class="item item-input">
            <i class="icon ion-social-twitch-outline placeholder-icon"></i>
            <input class="login-input-item" type="text" placeholder="Short comment" ng-model="report.comment" >
          </label>
           <br>

       <!-- Wind meter -->
      
        <div class="item range range-positive status-item">
          <i class="icon ion-ios-paperplane-outline"></i>
          <input type="range" name="volume" min="1" max="100" value="10" ng-model="report.wind">
          <i class="icon ion-ios-paperplane"></i>
        </div>


      <!-- Submit button -->

        <center>
         <ion-spinner class="spinner-calm loader-wave" icon="lines" ng-show="isLoading"></ion-spinner>
        </center>
        <button class="button button-block button-calm text-medium" ng-click="addReport()" ng-hide="isLoading">
          Submit report
        </button>
        
        
      </div>
    </div>



     
     
      </ion-content>
      
      
</ion-view>