<ion-view title="Report">
      <ion-content class="ion-content">
    


      <div class="list list-inset">
        <div class="item item-divider">
          <h2 class="title">{{spotName}}</h2>
        </div>
      
        <label class="item item-input">
          <i class="icon ion-ios-analytics-outline placeholder-icon"></i>
          <input type="text" placeholder="Wave height (cm)" ng-model="report.waveHeight">
        </label>
        <label class="item item-input">
          <i class="icon ion-ios-analytics-outline placeholder-icon"></i>
          <input type="text" placeholder="Short comment" ng-model="report.comment">
        </label>
      </div>



      <!-- Submit button -->
      <div class="list list-inset">
        <center>
         <ion-spinner class="spinner-calm loader-wave" icon="lines" ng-show="isLoading"></ion-spinner>
        </center>
        <button class="button button-block button-calm" ng-click="addReport()" ng-hide="isLoading">
          Submit report
        </button>
      </div>


      <!-- Wind meter -->
      <div class="list list-inset">
        <div class="item range range-positive">
          <i class="icon ion-ios-paperplane-outline"></i>
          <input type="range" name="volume" min="1" max="100" value="10" ng-model="report.wind">
          <i class="icon ion-ios-paperplane"></i>
        </div>
      </div>
      </ion-content>
      
      
</ion-view>