<ion-view title="Home">
      <ion-content>
      <ion-spinner class="spinner-calm" icon="lines" ng-show="isLoading"></ion-spinner>
        <ul class="list" ng-repeat="spot in spots">
          <li class="item" ui-sref="reports({ spotId: spot.$id })">
            <div class="row">
              <div class="col col-50"><i class="icon ion-clock"></i>{{spot.spotName}} </div>
              <div class="col"><i class="icon ion-ios-analytics-outline"></i>{{spot.avgWaveHeight}}</div>
              <div class="col">{{spot.reports.count}}</div>
            </div>
              
          </li>

    </ul>




     </ion-content>
</ion-view>



 