/* Empty. Add your own CSS if you like */
.icon-user {
	font-size: 5vh;
}

#map {
	width: 100%;
	height: 100%;
}

.loader-wave {
	width: 60%;
	height: 100%;
}

.loader-center {
	width: 30vw;
	height: 30vh;
}

.message-show{
	-webkit-transition: all 0.5s;
	
}

.message-hide {
	
}

.item.item-input {
	background-color: #636363;
	border: none;
	
}

.input-text {
	color: white;
	opacity: 0.9;
}

.ion-content {
	background-color: #232323;
}

.list{
	background-color: transparent;
	color: white;
}

/*.item{
	background-color: #515151;
	opacity: 1;
	font-size: 120%;
	font-weight: bold;
	border: none;
	-webkit-border-radius: 2px;
	color: #3fd2ff;
}*/

.user-comment {
	color: white;
}

.swipe-animation.ng-enter {
    -webkit-animation: fadeInLeft 3s;
    animation: fadeInLeft 3s;
}

/*.login-input-border {
	background-color: #4B5052;
	
	height: 10vh;
}*/





/*.login-input {
	color: #3fd2ff;
}*/



.transparent {
	background-color: transparent;
}

.waveshout-splash {
	text-align: center;
	line-height: 100px;
	height: 80px;
	width: 100%px;
	color: #3fd2ff;
	font-size: 60px;
}





/* Items */

.status-item {
	background-color: #515151;
	opacity: 1;
	font-size: 120%;
	font-weight: bold;
	border: none;
	-webkit-border-radius: 2px;
	color: #3fd2ff;
}

.status-item:active {
	background-color: #7D7D7D;
}

.item-header {
	background-color: #4A4C4D;
	border: none;
	color: #3fd2ff
}

.login-item {
	background-color: transparent;
	border: none;
}

.login-input-item {
	background-color: #7D7D7D;
	padding: 5px;
	width: 100%;
	border: none;
	-webkit-border-radius: 2px;
	color: #3fd2ff;
	height: 40px;
}

.login-input-item:focus /* check conditional!! */ {
  background-color: #3fd2ff;
  -webkit-placeholder-color: white;
  color: white;
  -webkit-animation-name: rubber;
  animation-name: rubber;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}







/** ANIMATIONS **/
@-webkit-keyframes rubber {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubber {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.rubber {
  -webkit-animation-name: rubber;
  animation-name: rubber;
}